<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/add-alter.css">
    <link rel="stylesheet" href="../responsive/resp-add-alter.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Team - Edição</title>
</head>
<body>
    <div class="main">
        <div class="container container-cad">

            <div class="left">
                <h1>Edição de jogadores</h1>
                    <p></p>
                        <div class="a-back">
                            <a href="../pages/init.html" >
                                <object data="../imgs//icons/left-arrow.svg" type="image/svg+xml"></object>Voltar à tela de início
                            </a>
                        </div>

                        <div class="logo-cad">
                            <img src="../imgs/logo/logo_of.png" alt="">
                        </div>
            </div>

            <form action="/update" method="post" class="form-class">
                <input type="hidden" value="<%= jogador.idJogador %>" name="idJogador"/>

                <input type="file" id="input_photo" value="<%= jogador.foto %>"/>
                <input type="text" id="id_nome" name="id_nome" placeholder="Nome do atleta" value="<%= jogador.nomeJogador %>" required/>
                <input type="number" id="id_idade"  name="id_idade" placeholder="Idade" value="<%= jogador.idade %>"/>
                <input type="text" id="id_nacionalidade" name="id_nacionalidade" placeholder="Nacionalidade" value="<%= jogador.nacionalidade %>" required/>
                <input type="text" id="id_clube" name="id_clube" placeholder="Clube"  value="<%= jogador.clube %>" required/>
                <input type="text" id="id_selecao" name="id_selecao" placeholder="Seleção" value="<%= jogador.selecao %>" required/>

                <select name="ranking_nota" id="ranking_nota" value="<%= jogador.nota %>">
                        <option value="" selected disabled>Nota</option>
                        <option value="1">Nota 1</option>
                        <option value="2">Nota 2</option>
                        <option value="3">Nota 3</option>
                        <option value="4">Nota 4</option>
                        <option value="5">Nota 5</option>
                        <option value="6">Nota 6</option>
                        <option value="7">Nota 7</option>
                        <option value="8">Nota 8</option>
                        <option value="9">Nota 9</option>
                        <option value="10">Nota 10</option>
                    </select>
    
                    <select name="position" id="select_position" value="<%= jogador.posicao %>">
                        <option value="" selected disabled>Posição</option>
                        <option value="oposto">Oposto(a)</option>
                        <option value="levantador">Levantador(a)</option>
                        <option value="ponteiro">Ponteiro(a)</option>
                        <option value="libero">Líbero</option>
                        <option value="central">Central</option>
                    </select>

                <button id="button_cad" type="submit">Editar</button>
                <button id="button_cancell" >Cancelar</button>
            </form>
        </div>
    </div>
</body>
</html>